h1{
	color:white;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	font-size: 35pt;
	text-decoration:underline;
}

h2,h3,h4{
	color:white;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}

h2{
    font-size: 30pt;

}

 h3{
        color:white;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        font-size: 25pt;
        a {
            text-decoration: none;
            color: #d2be80;
            border:0.2px solid;
            color: #d2be80;
            background: #00000000;
            border-radius: 1px;
            position: bottom;
            white-space: nowrap;
          } 
    }

h4{
    opacity: 0%;
    height:900px;
}
p{
	overflow: hidden;
	color:white;
	font-family: 'Courier New', Courier, monospace;
	text-align:left;
	font-size:11pt;
	text-indent:20px;
	text-wrap:normal;
    font-size: 15.5pt;
}

body{
	background-color:black;
    background-size: cover;
    color:white;
	font-family: 'Courier New', Courier, monospace;
    margin:10px auto;
    background-image: url('../images/blu.png');
    background-size: cover;
}

#container{
	height: 100% auto;
	width: 1500px;
	margin: 10px auto;
}

#narrative{
	width: 700px;
	height: 100%;
	margin: 10px auto;
}

#textcontainer{
width:680px;
padding-left:10px;
padding-right:4px;
padding-top:-5px;
height:auto;
border:solid;
background-color: #000;
}


